*{
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}


body{
  padding: 0;
  margin: 0;
  color: #333;
}

#container{
  max-width: 1200;
  border: 1px solid tomato;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  padding: 24px;
  height: 100vh;
  margin: 0 auto;
}

header{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  
}

main{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 1px solid violet;
  gap: 24px;
}

footer{
  display: flex;
  align-items: center;
  border: 1px solid blue;
  margin-top: 12px;
}

.logo{
  grid-column: 1/5;

}

.login{
  grid-column: 12;
}

.main-body{
  grid-column: 5/13;
  border: 1px solid blue;
}

.menu{
  grid-column:1/5;
  border: 1px solid blue;
}
